<!DOCTYPE html>
<html>
<head>
<title>PokerSplit</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid" style="padding: 2%">

<h1 style="margin-bottom: 20px">Cash Game PokerSplit</h1>

{{if .Error}}
<div class="alert alert-danger">
  <strong>Error:</strong> {{.Error}}
</div>
{{end}}

<form method="post" action="/">
<table class="table">
<tr>
<th scope="col">Player</th>
<th scope="col">Buy-In</th>
<th scope="col">Stack</th>
</tr>
{{if .Players}}
{{range $i, $p := Sorted .Players}}
<tr>
<td><input id="player{{$i}}" name="player{{$i}}" type="text"   value="{{$p.Name}}"  readonly>
<td><input id="buyin{{$i}}"  name="buyin{{$i}}"  type="number" value="{{Cents $p.BuyIn}}" step="0.01"></td>
<td><input id="stack{{$i}}"  name="stack{{$i}}"  type="number" value="{{Cents $p.Stack}}" step="0.01"></td>
</tr>
{{end}}
<tr>
<td><input id="player{{len .Players}}" name="player{{len .Players}}" type="text"></td>
<td><input id="buyin{{len .Players}}"  name="buyin{{len .Players}}"  type="number" step="0.01"></td>
<td><input id="stack{{len .Players}}"  name="stack{{len .Players}}"  type="number" step="0.01"></td>
</tr>
{{else}}
{{range Iterate 7}}
<tr>
<td><input id="player{{.}}" name="player{{.}}" type="text"></td>
<td><input id="buyin{{.}}"  name="buyin{{.}}"  type="number" step="0.01"></td>
<td><input id="stack{{.}}"  name="stack{{.}}"  type="number" step="0.01"></td>
</tr>
{{end}}
{{end}}
<tr>
<td><strong>Total</strong></td>
<td><strong>{{Cents .Players.BuyIn}}</strong></td>
<td><strong>{{Cents .Players.Stack}}</strong></td>
</tr>
</table>
<button type="submit" class="btn btn-primary">Save</button>
</form>

<div style="margin-top: 50px">
{{range $debtor, $debts := .Debts}}
<div class="border rounded" style="margin-bottom: 10px; padding: 10px;">
<h5>{{$debtor}} owes</h5>
<table class="table table-striped">
{{range $d := $debts}}
<tr><td>{{Cents $d.Amount}} to {{$d.Creditor}}</td></tr>
{{end}}
</table>
</div>
{{end}}
</div>

</div>
</body>
</html>
